    <p-dialog [(visible)]="editDialog" [style]="{width: '70vw'}" header="{{'student.tabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
        <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="{{'student.tabPan' | translate}}">
                        <div class="grid">

                                        <div class="field col-12 md:col-6">
                                            <label for="1">{{'student.firstName' | translate}}</label>
                                            <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'student.firstName' | translate}}" id="1" [(ngModel)]="item.firstName"
                                                    />
                                            
                                        </div>



                                        <div class="field col-12 md:col-6">
                                            <label for="2">{{'student.lastName' | translate}}</label>
                                            <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'student.lastName' | translate}}" id="2" [(ngModel)]="item.lastName"
                                                    />
                                            
                                        </div>



                                        <div class="field col-12 md:col-6">
                                            <label for="3">{{'student.phoneNumber' | translate}}</label>
                                            <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'student.phoneNumber' | translate}}" id="3" [(ngModel)]="item.phoneNumber"
                                                    />
                                            
                                        </div>



                                        <div class="field col-12 md:col-6">
                                            <label for="4">{{'student.registrationDate' | translate}}</label>
                                            <p-calendar appendTo="body" id="4"  [showTime]="true" [showSeconds]="false" placeholder="{{'student.registrationDate' | translate}}"  [(ngModel)]="item.registrationDate"
                                                        dateFormat="{{dateFormat}}"  >
                                            </p-calendar>
                                            
                                        </div>

                                    <div class="field col-11 md:col-6">
                                        <label for="5">{{'student.school' | translate}}</label>
                                        <p-dropdown  appendTo="body"  [options]="schools" [(ngModel)]="item.school" id="5" [filter]="true" filterMatchMode="contains"
                                                     [showClear]="true" optionLabel="id" placeholder="{{'student.school' | translate}}"  >
                                        </p-dropdown>
                                        
                                    </div>

                                        <div class="field align-inputswitch col-12  md:col-6">
                                            <div  class="label-inputswitch">
                                                <label for="7">{{'student.passwordChanged' | translate}}</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="7"  [(ngModel)]="item.passwordChanged"
                                                                >
                                                </p-inputSwitch>
                                                
                                            </div>
                                        </div>


                                        <div class="field align-inputswitch col-12  md:col-6">
                                            <div  class="label-inputswitch">
                                                <label for="8">{{'student.accountNonLocked' | translate}}</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="8"  [(ngModel)]="item.accountNonLocked"
                                                                >
                                                </p-inputSwitch>
                                                
                                            </div>
                                        </div>


                                        <div class="field col-12 md:col-6">
                                            <label for="9">{{'student.password' | translate}}</label>
                                            <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'student.password' | translate}}" id="9" [(ngModel)]="item.password"
                                                    />
                                            
                                        </div>



                                        <div class="field col-12 md:col-6">
                                            <label for="10">{{'student.email' | translate}}</label>
                                            <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'student.email' | translate}}" id="10" [(ngModel)]="item.email"
                                                    />
                                            
                                        </div>



                                        <div class="field align-inputswitch col-12  md:col-6">
                                            <div  class="label-inputswitch">
                                                <label for="11">{{'student.enabled' | translate}}</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="11"  [(ngModel)]="item.enabled"
                                                                >
                                                </p-inputSwitch>
                                                
                                            </div>
                                        </div>


                                        <div class="field align-inputswitch col-12  md:col-6">
                                            <div  class="label-inputswitch">
                                                <label for="12">{{'student.credentialsNonExpired' | translate}}</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="12"  [(ngModel)]="item.credentialsNonExpired"
                                                                >
                                                </p-inputSwitch>
                                                
                                            </div>
                                        </div>


                                        <div class="field align-inputswitch col-12  md:col-6">
                                            <div  class="label-inputswitch">
                                                <label for="13">{{'student.accountNonExpired' | translate}}</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="13"  [(ngModel)]="item.accountNonExpired"
                                                                >
                                                </p-inputSwitch>
                                                
                                            </div>
                                        </div>


                                        <div class="field col-12 md:col-6">
                                            <label for="14">{{'student.username' | translate}}</label>
                                            <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'student.username' | translate}}" id="14" [(ngModel)]="item.username"
                                                    />
                                            
                                        </div>



                        </div>
                    </p-tabPanel>
                            <p-tabPanel header="{{'student.payments' | translate}}">
                                        <div class="p-col">
                                            <div class="grid">
                                                            <div class="field col-12 md:col-6">
                                                                <label for="1">Amount</label>
                                                                <p-inputNumber class="mb-2 mr-2" id="amount" placeholder="Amount"  [(ngModel)]="paymentsElement.amount"></p-inputNumber>
                                                                
                                                            </div>
                                                            <div class="field col-12 md:col-6">
                                                                <label for="2">Payment date</label>
                                                                <p-calendar appendTo="body" id="2"  [showTime]="true" [showSeconds]="false" placeholder="Payment date" [(ngModel)]="paymentsElement.paymentDate"
                                                                            dateFormat="{{dateFormat}}" [showIcon]="true"  ></p-calendar>
                                                                
                                                            </div>
                                                <div class="field col-12 md:col-1">
                                                    <button pButton pRipple type="button" icon="pi pi-plus" class="mt-4" label="OK" (click)="addPayments()"></button>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="p-col">
                                            <div class="card">
                                                <p-table [value]="item.payments" [scrollable]="true" scrollHeight="200px">
                                                    <ng-template pTemplate="header">
                                                        <tr>
                                                                        <th>Amount</th>
                                                                        <th>Payment date</th>
                                                            <th>Actions</th>
                                                        </tr>
                                                    </ng-template>
                                                    <ng-template pTemplate="body" let-p let-i="rowIndex">
                                                        <tr>
                                                                        <td>{{p.amount}}</td>
                                                                        <td>{{p.paymentDate | date: dateFormatColumn}}</td>
                                                            <td>
                                                                <button (click)="deletePayments(p,i)" pButton type="button" icon="pi pi-times"  class="p-button-rounded p-button-danger"></button>
                                                                <button (click)="editPayments(p,i)" pButton type="button" icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"></button>
                                                            </td>
                                                        </tr>
                                                    </ng-template>
                                                </p-table>
                                            </div>

                                        </div>
                            </p-tabPanel>


                </p-tabView>

        </ng-template>

        <ng-template pTemplate="footer" >
            <div class="p-flexbox">

                    <button pButton pRipple  label="{{'validate' | translate}}"  icon="pi pi-check"  (click)="edit()"></button>


                        <button pButton pRipple  label="{{'cancel' | translate}}" icon="pi pi-times" class="p-button-outlined" (click)="hideEditDialog()"></button>


            </div>
        </ng-template>

    </p-dialog>
