        <p-dialog [(visible)]="createDialog" [style]="{width: '70vw'}" header="{{'principal.tabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
            <ng-template pTemplate="content" >
                        <p-tabView>
                            <p-tabPanel header="{{'principal.tabPan' | translate}}">
                                <div class="grid">

                                                <div class="field col-12 md:col-6">
                                                    <label for="1">{{'principal.firstName' | translate}}</label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'principal.firstName' | translate}}" id="1" [(ngModel)]="item.firstName"
                                                             />
                                                    
                                                </div>


                                                <div class="field col-12 md:col-6">
                                                    <label for="2">{{'principal.lastName' | translate}}</label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'principal.lastName' | translate}}" id="2" [(ngModel)]="item.lastName"
                                                             />
                                                    
                                                </div>


                                                <div class="field col-12 md:col-6">
                                                    <label for="3">{{'principal.phoneNumber' | translate}}</label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'principal.phoneNumber' | translate}}" id="3" [(ngModel)]="item.phoneNumber"
                                                             />
                                                    
                                                </div>


                                                <div class="field align-inputswitch col-12  md:col-6">
                                                    <div  class="label-inputswitch">
                                                        <label for="4">{{'principal.passwordChanged' | translate}}</label>
                                                    </div>
                                                    <div class="input-switch">
                                                        <p-inputSwitch id="4"  [(ngModel)]="item.passwordChanged"
                                                                 >
                                                        </p-inputSwitch>
                                                        
                                                    </div>
                                                </div>


                                                <div class="field align-inputswitch col-12  md:col-6">
                                                    <div  class="label-inputswitch">
                                                        <label for="5">{{'principal.accountNonLocked' | translate}}</label>
                                                    </div>
                                                    <div class="input-switch">
                                                        <p-inputSwitch id="5"  [(ngModel)]="item.accountNonLocked"
                                                                 >
                                                        </p-inputSwitch>
                                                        
                                                    </div>
                                                </div>


                                                <div class="field col-12 md:col-6">
                                                    <label for="6">{{'principal.password' | translate}}</label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'principal.password' | translate}}" id="6" [(ngModel)]="item.password"
                                                             />
                                                    
                                                </div>


                                                <div class="field col-12 md:col-6">
                                                    <label for="7">{{'principal.email' | translate}}</label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'principal.email' | translate}}" id="7" [(ngModel)]="item.email"
                                                             />
                                                    
                                                </div>


                                                <div class="field align-inputswitch col-12  md:col-6">
                                                    <div  class="label-inputswitch">
                                                        <label for="8">{{'principal.enabled' | translate}}</label>
                                                    </div>
                                                    <div class="input-switch">
                                                        <p-inputSwitch id="8"  [(ngModel)]="item.enabled"
                                                                 >
                                                        </p-inputSwitch>
                                                        
                                                    </div>
                                                </div>


                                                <div class="field align-inputswitch col-12  md:col-6">
                                                    <div  class="label-inputswitch">
                                                        <label for="9">{{'principal.credentialsNonExpired' | translate}}</label>
                                                    </div>
                                                    <div class="input-switch">
                                                        <p-inputSwitch id="9"  [(ngModel)]="item.credentialsNonExpired"
                                                                 >
                                                        </p-inputSwitch>
                                                        
                                                    </div>
                                                </div>


                                                <div class="field align-inputswitch col-12  md:col-6">
                                                    <div  class="label-inputswitch">
                                                        <label for="10">{{'principal.accountNonExpired' | translate}}</label>
                                                    </div>
                                                    <div class="input-switch">
                                                        <p-inputSwitch id="10"  [(ngModel)]="item.accountNonExpired"
                                                                 >
                                                        </p-inputSwitch>
                                                        
                                                    </div>
                                                </div>


                                                <div class="field col-12 md:col-6">
                                                    <label for="11">{{'principal.username' | translate}}</label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'principal.username' | translate}}" id="11" [(ngModel)]="item.username"
                                                             />
                                                    
                                                </div>


                                </div>
                            </p-tabPanel>

                        </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="p-flexbox">

                            <button pButton pRipple  label="{{'validate' | translate}}"  icon="pi pi-check"  (click)="save()"></button>


                            <button pButton pRipple  label="{{'cancel' | translate}}" icon="pi pi-times" class="p-button-outlined" (click)="hideCreateDialog()"></button>


                </div>
            </ng-template>

    </p-dialog>
